* {
	padding : 0;
	margin : 0;
}

body {
	background : #999;
	font-family : cali bri;
	background-image : url("images/bg_index.jpg");
	background-position : center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.largeur {
	width : 780px;
	margin : 0 auto;
}

ul {
	list-style : none;
}

.clear {
	clear : both;
}

.page {
	margin-top : 80px;
}

/***** HEADER *****/

header {
	width : 780px;
	height : 30px;
}

header ul {
	list-style : none;
}

header li {
	float : left;
	width : 260px;
	text-align : center;
	/*background-color : #676968;*/
	color : #fff;
	padding : 5px 0;
	border-bottom : 2px solid #000;
	font-weight : bold;
}

header li:hover {
	background-color : #4E4F4F;
	border-bottom : 2px solid #323333;
	transition : 0.5s;
}

header a {
	text-decoration : none;
	color : #000;
}

/***** PERSONNAGE *****/

#content {
	height : 530px;
	background-color : yellow;
}

.wrap_left, .wrap_right {
	width : 370px;
	height : 300px;
	background-color : red;
	float : left;
	margin : 5px;
	padding : 5px;
}

.wrap_left h2, .wrap_right h2 {
	text-align : center;
	margin-bottom : 10px;
	margin-top : 5px;
}

.wrap_left img {
	width : 250px;
	height : 250px;
	margin : 0 55px;
}

.span_left {
	display : block;
	width : 200px;
	height : 20px;
	float : left;
	margin-left : 40px;
}

.span_right {
	display : block;
	width : 50px;
	height : 20px;
	float : right;
	margin-right : 40px;
}

#inventaire {
	width : 760px;
	height : 190px;
	padding : 5px;
	margin : 5px;
	background-color : red;
}

#inventaire h2 {
	margin-left : 30px;
}

.box_item {
	background-color : grey;
	width : 50px;
	height : 50px;
	float : left;
	margin : 23.5px 0 0 23.5px ;
}

#info_perso {
	height : 150px;
}

#skills {
	height : 50px;
}

